.guests {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    min-height: 751px;
    padding: 92px 0;

    background-color: $project-black;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 100%;
        max-width: 1110px;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        min-width: 255px;
        max-width: 825px;
        margin-bottom: 50px;
    }

    &__header {
        margin: 0;
        margin-bottom: 16px;
        color: $white;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
    }

    &__subtitle {
        margin: 0;
        margin-bottom: 8px;
        color: $text_gray;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
    }

    &__text {
        margin: 0;
        color: $text-gray;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    &__left {
        display: flex;
        flex-direction: column;
        width: 730px;
    }


    @import '../restyle/jquery.scss';

    &__guests-type-list {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    &__guests-list {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        align-content: space-between;
        max-height: 200px;
        max-width: 696px;
        padding: 0;
    }

    &__guests-item:not(:nth-child(4n)) {
        margin-bottom: 11px;
    }

    &__guest-link {
        color: $white;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
    }

    &__guests-list > &__guests-item > &__guest-link_active {
        color: $primary-light;
    }

    &__right {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        width: 100%;
    }

    &__guest-image {
        display: inline-flex;
        max-width: 350px;
        max-height: 220px;
        width: 100%;
        height: 100%;
        margin-bottom: 13px;
        background: transparent no-repeat right center / 350px 220px;
        background-image: url("../../img/guests__guest-card-image-mock.png");
    }

    &__guest-image_one {
        background-image: url("../../img/guests__guest-card-image_1.png");
    }


    &__socials-list {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        max-width: 132px;
        margin-bottom: 13px;
    }

    &__socials-item {
        height: 100%;
        width: 24px;
    }

    &__socials-link {
        max-width: 24px;
        max-height: 24px;
        width: 100%;
        height: 100%;
        background: transparent no-repeat right center / 24px 24px;
    }

    .social-instagram {
        background-image: url("../../img/social-instagram.svg");
    }

    .social-facebook {
        background-image: url("../../img/social-facebook.svg");
    }

    .social-twitter {
        background-image: url("../../img/social-twitter.svg");
    }

    &__guest-name {
        margin: 0;
        margin-bottom: 8px;
        color: $white;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
    }

    &__guest-description {
        margin: 0;
        margin-bottom: 31px;
        color: $text-gray;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;
    }

    &__guest-air-link {
        display: inline-flex;
        align-self: start;
        padding: 10px 18.5px;
        border: 2px solid $primary-light;
        border-radius: 77px;
        color: $primary-light;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
    }
   
}