.guests {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    min-height: 751px;
    padding: 92px 0;

    @media (max-width: 1200px) {
        padding: 90px 100px;
    }

    @media (max-width: 1020px) {
        padding: 90px 114px 94px;
    }

    @media (max-width: 766px) {
        padding: 54px 0;
    }

    background-color: $project-black;

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        min-height: 100%;
        // max-width: 1110px;
        width: 100%;
        // margin-left: auto;
        // margin-right: auto;
    }

    &__top {
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        min-width: 255px;
        max-width: 825px;
        margin-bottom: 50px;

        @media (max-width: 766px) {
            margin-bottom: 30px;
        }
    }

    &__header {
        margin: 0;
        margin-bottom: 16px;
        color: $white;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;

        @media (max-width: 766px) {
            margin-bottom: 12px;
            font-size: 24px;
            line-height: 24px;
        }
    }

    &__subtitle {
        margin: 0;
        margin-bottom: 8px;
        color: $text_gray;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;

        @media (max-width: 766px) {
            margin-bottom: 0;
            font-size: 14px;
            line-height: 21px;
        }
    }

    &__text {
        margin: 0;
        color: $text-gray;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;

        @media (max-width: 1200px) {
            max-width: 536px;
        }

        @media (max-width: 766px) {
            font-size: 14px;
            line-height: 22px;
        }
    }

    &__bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 30px;
        width: 100%;

        @media (max-width: 1020px) {        
            flex-direction: column;
        }
    }

    &__left {
        display: flex;
        flex-direction: column;
        max-width: 730px;
        width: 100%;

        @media (max-width: 1020px) {
            margin-bottom: 20px;
            
        }

        @media (max-width: 766px) {
            margin-bottom: 0;
        }
    }

    &__guests-type-header-text {
        transition: color .3s ease-in-out;
    }


    @import '../restyle/jquery.scss';

    &__guests-type-list {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    &__guests-list {
        display: grid;
        grid-template-columns: repeat(4, auto);
        grid-template-rows: repeat(4, auto);
        padding: 0;
        gap: 11px 30px;

        @media (max-width: 1200px) {
            grid-template-columns: repeat(3, auto);
        }

        @media (max-width: 1020px) {
            gap: 25px 32px;
        }

        @media (max-width: 766px) {
            gap: 30px 42px;
            grid-template-columns: repeat(2, auto);
        }
    }

    &__guest-link {
        color: $white;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-decoration: underline solid transparent;
        text-underline-offset: 5px;
        transition: color .3s ease-in-out,
                    text-decoration-color .3s ease-in-out;

        @media (max-width: 766px) {
            font-size: 14px;
            line-height: 15.4px;
        }
    }

    &__guests-item &__guest-link:hover {
        color: $primary;
        text-decoration-color: $primary;
    }

    &__guests-item &__guest-link:focus {
        color: $primary-light;
        text-decoration-color: $primary-light;
    }

    &__guests-item &__guest-link:active {
        color: $primary-dark;
        text-decoration-color: $primary-dark;
    }

    &__guests-list > &__guests-item > &__guest-link_active {
        color: $primary-light;
    }

    &__right {
        display: flex;
        flex-direction: column;
        max-width: 350px;
        width: 100%;
        
        @media (max-width: 1200px) {
            max-width: 255px;
        }
        
        @media (max-width: 1020px) {
            max-width: none;
        }
    }

    &__guest-image {
        display: inline-flex;
        max-width: 350px;
        min-height: 220px;
        width: 100%;
        margin-bottom: 13px;
        background: transparent no-repeat right center / 350px 220px;
        background-image: url("../../img/guests__guest-card-image-mock.png");

        @media (max-width: 1200px) {
            max-width: 255px;
            min-height: 159px;
            background: transparent no-repeat right center / 255px 159px;
            background-image: url("../../img/guests__guest-card-image-mock.png");
        }

        @media (max-width: 1020px) {
            max-width: none;
            min-height: 220px;
            background: transparent no-repeat right center / 540px 220px;
            background-image: url("../../img/guests__guest-card-image-mock_768.png");
        }

        @media (max-width: 766px) {
            align-self: start;
            min-height: 159px;
            background: transparent no-repeat left center / contain;
            background-image: url("../../img/guests__guest-card-image-mock_320.png");
        }
    }

    &__guest-image_one {
        background-image: url("../../img/guests__guest-card-image_1.png");

        @media (max-width: 1200px) {
            background-image: url("../../img/guests__guest-card-image_1.png");
        }

        @media (max-width: 1020px) {
            background-image: url("../../img/guests__guest-card-image_1_768.png");
        }

        @media (max-width: 766px) {
            background-image: url("../../img/guests__guest-card-image_1_320.png");
        }
    }


    &__socials-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 13px;
        gap: 30px;
        
        @media (max-width: 766px) {
            margin-bottom: 12px;
        }
    }

    &__socials-item {
        width: 24px;

        @media (max-width: 766px) {
            width: 36px;
        }
    }

    &__socials-link {
        max-width: 24px;
        max-height: 24px;
        width: 100%;
        height: 100%;
        background: transparent no-repeat right center / 24px 24px;

        @media (max-width: 766px) {
            max-width: 36px;
            max-height: 36px;
            min-width: 36px;
            min-height: 36px;
            background: transparent no-repeat right center / 36px 36px;
        }
    }

    &__socials-link svg {
        @media (max-width: 766px) {
            width: 36px;
            height: 36px;
        }
    }

    &__socials-link svg path {
        transition: fill .3s ease-in-out;
    }

    &__socials-link:hover svg path {
        fill: $primary;
    }

    &__socials-link:focus svg path {
        fill: $primary-light;
    }

    &__socials-link:active svg path {
        fill: $primary-dark;
    }

    &__guest-name {
        margin: 0;
        margin-bottom: 8px;
        color: $white;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
    }

    &__guest-description {
        margin: 0;
        margin-bottom: 31px;
        color: $text-gray;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 29px;

        @media (max-width: 1200px) {
            max-width: 255px;
        }

        @media (max-width: 1020px) {
            max-width: 396px;
        }

        @media (max-width: 766px) {
            margin-bottom: 30px;
            max-width: none;
        }
    }

    &__guest-air-link {
        display: inline-flex;
        align-self: start;
        max-width: 162px;
        padding: 10px 18.5px;
        border: 2px solid $primary-light;
        border-radius: 77px;
        color: $primary-light;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        transition: border-color .3s ease-in-out, 
                    background-color .3s ease-in-out,
                    color .3s ease-in-out;

        @media (max-width: 766px) {
            max-width: 150px;
            padding: 7.5px 12.5px;

        }
    }

    &__guest-air-link:hover {
        border-color: $primary-light; 
        background-color: $primary-light;
        color: $white;
    }

    &__guest-air-link:focus {
        border-color: $primary; 
        background-color: $primary;
        color: $white;
    }

    &__guest-air-link:active {
        border-color: $primary-dark; 
        background-color: $primary-dark;
        color: $white;
    }
   
}