.hero {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-height: 450px;

    @media (max-width: 1200px) {
        min-height: 0;
    }


    &__content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        width: 100%;
        padding: 92px 0;
        background: transparent no-repeat right center / 350px 372px;
        background-image: url("../../img/hero_bg.png");


        @media (max-width: 1350px) {
            margin: 0;
            padding: 88px 0;
            background-image: url("../../img/hero_bg_tablet.png");
            background: transparent no-repeat right center / 256px 262px;
        }

        @media (max-width: 1020px) {
            padding: 90px 0;
            background-image: none;
        }

        @media (max-width: 766px) {
            padding: 40px 0;
        }
    }

    &__content-header {
        display: flex;
        flex-direction: row;
        margin: 0 0 14px 0;
        font-family: 'Muller';
        font-size: 60px;
        line-height: 60px;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

        @media (max-width: 1020px) {        
            text-shadow: none;

        }
    }

    &__content-header-part_bold {
        display: inline-flex;
        margin: 0;
        margin-right: 14px;
        font-weight: 700;
        font-style: normal;

        @media (max-width: 766px) { 
            font-weight: 700;
            font-size: 32px;
            line-height: 32px;
        }
    }

    &__content-header-part_italic {
        display: inline-flex;
        margin: 0;
        margin-top: 3px;
        font-weight: 300;
        font-style: italic;

        @media (max-width: 766px) { 
            font-weight: 400;
            font-size: 32px;
            line-height: 32px;
        }
    }

    &__content-description, &__content-link {
        display: inline;
        margin: 0;
        width: 600px;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
    }

    &__content-description {
        margin-bottom: 45px;

        @media (max-width: 1200px) {
            width: 540px;
            margin-bottom: 21px;

        }

        @media (max-width: 766px) { 
            width: auto;
        }
    }

    &__content-link {
        color: $primary;
        text-underline-offset: 4px;
        text-decoration: underline solid transparent;
        transition: color .3s ease-in-out,
                    text-decoration-color .3s ease-in-out,
                    background-color .3s ease-in-out;
    }

    &__content-link:hover {
        text-decoration-color: $primary;
    }

    &__content-link:focus {
        outline: none;
        text-decoration-color: transparent;
        background-color: $primary-light;
        color: $white;
    }

    &__content-link:active {
        outline: none;
        text-decoration-color: $primary-dark;
        background-color: transparent;
        color: $primary-dark;
    }



    &__content-button {
        display: flex;
        align-items: center;
        max-width: 245px;
        padding: 24px 53px;
        border-radius: 40px;
        background-color: $primary;
        border: 2px solid $primary;

        transition: border-color .3s ease-in-out,
                    background-color .3s ease-in-out;

        @media (max-width: 766px) { 
            max-width: 200px;
            padding: 17px 45px;
        }
    }

    &__content-button-text {
        margin: 0;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        color: $white;


        @media (max-width: 766px) { 
            font-weight: 500;
            font-size: 16px;
            line-height: 16px;
        }
    }

    &__content-button:hover {
        border-color: $primary-light;
        background-color: $primary-light;
    }

    &__content-button:focus {
        border-color: $primary-dark;
        background-color: $primary-light;
    }

    &__content-button:active {
        border-color: $primary-dark;
        background-color: $primary-dark;
        
    }
}