.podcasts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    min-height: 1046px;
    padding: 92px 0;
    background-color: $light-color;

    @media (max-width: 1350px) {
        padding: 90px 100px 93px;
        min-height: 1044px;
    }

    @media (max-width: 1020px) {
        padding: 90px 0 95px;
    }

    @media (max-width: 766px) {
        padding: 54px 0;
    }


    &__content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 100%;

        @media (max-width: 1350px) {
            // margin-left: 0;
            // margin-right: 0;
        }
    }

    &__header {
        margin: 0;
        margin-bottom: 34px;
        color: $project-black;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;

        @media (max-width: 766px) {
            margin-bottom: 20px;
            font-weight: 400;
            font-size: 24px;
            line-height: 24px;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 30px 30px;
        margin-bottom: 58px;
        padding: 0;

        @media (max-width: 1350px) {
            gap: 29px 30px;
        }

        @media (max-width: 766px) {
            gap: 30px;
            margin-bottom: 30px;
        }
    }

    &__item {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex: 1 1 48%;
        min-height: 140px;
        margin-bottom: 0;
        background-color: $white;
        transition: filter .3s ease-in-out;

        @media (max-width: 1020px) {
            flex: 1 1 100%;
        }

        @media (max-width: 766px) {
            flex-direction: column;
        }
    }

    &__item:focus-within {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }


    &__item_phone-hidden {
        
        @media (max-width: 766px) {
            display: none;
            // gap: 29px 30px;
        }
    }

    &__image {
        position: relative;
        min-width: 112px;
        min-height: 100%;
        width: 112px;
        height: 140px;

        @media (max-width: 766px) {
            height: 72px;
            // width: 256px;
            width: 100%;
            max-width: 100%;
            min-height: 72px;
            max-height: 72px;
        }
    }


    &__image_1 {
        background: transparent no-repeat center center / cover;
        background-image: url("../../img/podcasts__image_1.png");

        @media (max-width: 766px) {
            background-image: url("../../img/podcasts__image_1_phone.png");
        }
    }

    &__image_2 {
        background: transparent no-repeat center center / cover;
        background-image: url("../../img/podcasts__image_2.png");

        @media (max-width: 766px) {
            background-image: url("../../img/podcasts__image_2_phone.png");
        }
    }

    &__image_3 {
        background: transparent no-repeat center center / cover;
        background-image: url("../../img/podcasts__image_3.png");

        @media (max-width: 766px) {
            background-image: url("../../img/podcasts__image_3_phone.png");
        }
    }

    &__image_4 {
        background: transparent no-repeat center center / cover;
        background-image: url("../../img/podcasts__image_4.png");

        @media (max-width: 766px) {
            background-image: url("../../img/podcasts__image_4_phone.png");
        }
    }

    &__image_5 {
        background: transparent no-repeat center center / cover;
        background-image: url("../../img/podcasts__image_5.png");
    }

    &__image_6 {
        background: transparent no-repeat center center / cover;
        background-image: url("../../img/podcasts__image_6.png");
    }

    &__image_7 {
        background: transparent no-repeat center center / cover;
        background-image: url("../../img/podcasts__image_7.png");
    }

    &__image_8 {
        background: transparent no-repeat center center / cover;
        background-image: url("../../img/podcasts__image_8.png");

    }

    &__date {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 51px;
        min-height: 16px;
        margin: 0;
        text-align: center;
        background-color: $light-color;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 10px;
        line-height: 10px;

        @media (max-width: 766px) {
            left: 0;
            top: 0;
            bottom: unset;
        }
    }

    &__podcast {
        display: flex;
        flex-direction: column;
        flex: auto;
        justify-content: space-between;
        height: 100%;

        @media (max-width: 766px) {
            width: 100%;
        }
    }

    &__podcast-box {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        padding: 24px 30px;
        height: 100%;

        @media (max-width: 766px) {
            padding: 16px;
        }
    }

    &__podcast-content {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        justify-content: center;

        width: 100%;
    }

    &__podcast-play {
        display: inline-flex;
        // display: flex;
        align-self: center;
        width: 48px;
        min-width: 48px;
        height: 48px;
        min-height: 48px;


        @media (max-width: 766px) {
            align-items: center;
            width: 36px;
            min-width: 36px;
            height: 36px;
            min-height: 36px;
        }
    }

    &__podcast-play-icon circle {
        fill: transparent;
        transition: stroke .3s ease-in-out, 
                    fill .3s ease-in-out;
        @media (max-width: 766px) {
            stroke: $primary;
        }
    }

    
    &__podcast-play-icon path {
        transition: fill .3s ease-in-out;
        @media (max-width: 766px) {
            fill: $primary;
        }
    }

    &__podcast-play-icon_hidden  {
        display: none;
    }

    &__podcast-pause-icon {
        display: none;
    }

    &__podcast-play-icon, 
    &__podcast-pause-icon {
        pointer-events: none;
    }

    &__podcast-pause-icon_shown {
        display: inline-flex;
    }

    &__podcast-play:hover &__podcast-play-icon circle {
        stroke: $primary;
    }
    &__podcast-play:hover &__podcast-play-icon path {
        fill: $primary;
    }

    &__podcast-play:focus &__podcast-play-icon circle {
        stroke: $primary-light;
    }
    &__podcast-play:focus &__podcast-play-icon path {
        fill: $primary-light;
    }

    &__podcast-play:active &__podcast-play-icon circle {
        stroke: $primary-dark;
        fill: $primary-dark;
    }
    &__podcast-play:active &__podcast-play-icon path {
        fill: $white;
    }

    &__podcast-time {
        margin: 0;
        margin-bottom: 8px;
        color: $project-black;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;

        @media (max-width: 766px) {
            margin-bottom: 6px;
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
        }
    }

    &__podcast-title {
        overflow-wrap: anywhere;
        max-width: 200px;
        margin: 0;
        margin-bottom: 4px;
        color: $project-black;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;

        @media (max-width: 766px) {
            margin-bottom: 6px;
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
        }
    }

    &__podcast-author {
        overflow-wrap: anywhere;
        max-width: 200px;
        margin: 0;
        color: $text-gray;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;

        @media (max-width: 766px) {
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
        }
    }

    &__podcast-stats {
        display: flex;
        flex-direction: row;
        padding: 8px 0 8px 30px;
        border-top: 1px solid $light-color;

        @media (max-width: 766px) {
            align-items: center;
            justify-content: center;
            padding: 8px 0;
        }

    }

    &__podcast-text {
        margin: 0;
        color: $text-gray;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px; 
        transition: color .3s ease-in-out;

        @media (max-width: 766px) {
            font-weight: 400;
            font-size: 12px;
            line-height: 12px;
        }
    }

    &__podcast-plays,
    &__podcast-likes,
    &__podcast-shares  {
        cursor: pointer;
        display: flex;
        flex-direction: row;
        align-items: center;  
        transition: background-color .3s ease-in-out;
    }

    &__podcast-plays,
    &__podcast-likes {
        margin-right: 30px;
    }

    &__podcast-plays-icon {
        pointer-events: none;
        width: 10px;
        height: 13px;
        margin-right: 6px;
    }

    &__podcast-likes-icon {
        pointer-events: none;
        width: 13px;
        height: 12px;
        margin-right: 6px;
    }

    &__podcast-shares-icon {
        pointer-events: none;
        width: 13px;
        height: 12px;
        margin-right: 6px;
    }

    &__podcast-likes-active-icon {
        display: none;
        pointer-events: none;
        width: 13px;
        height: 12px;
        margin-right: 6px;
    }

    &__podcast-shares-active-icon {
        display: none;
        pointer-events: none;
        width: 13px;
        height: 12px;
        margin-right: 6px;
    }

    &__podcast-likes_active &__podcast-text {
        color: $primary-dark;
    }

    &__podcast-likes_active &__podcast-likes-icon {
        display: none;
    }    
    &__podcast-likes_active &__podcast-likes-active-icon {
        display: inline-flex;
    }

    &__podcast-shares_active &__podcast-text {
        color: $primary-dark;
    }

    &__podcast-shares_active &__podcast-shares-icon {
        display: none;
    }    
    &__podcast-shares_active &__podcast-shares-active-icon {
        display: inline-flex;
    }


    &__podcast-plays-icon path,
    &__podcast-likes-icon path,
    &__podcast-shares-icon path {
        transition: fill .3s ease-in-out;
    }

    &__podcast-plays:hover &__podcast-plays-icon path {
        fill: $primary;
    }
    &__podcast-plays:hover &__podcast-text {
        color: $primary;
    }

    &__podcast-plays:focus {
        background-color: $primary-light;
    }
    &__podcast-plays:focus &__podcast-plays-icon path {
        fill: $white;
    }
    &__podcast-plays:focus &__podcast-text {
        color: $white;
    }

    &__podcast-plays:active {
        background-color: transparent;
    }
    &__podcast-plays:active &__podcast-plays-icon path {
        fill: $primary-dark;
        fill-rule: nonzero;
    }
    &__podcast-plays:active &__podcast-text {
        color: $primary-dark;
    }


    &__podcast-likes:hover &__podcast-likes-icon path {
        fill: $primary;
    }
    &__podcast-likes:hover &__podcast-text {
        color: $primary;
    }

    &__podcast-likes:focus {
        background-color: $primary-light;
    }
    &__podcast-likes:focus &__podcast-likes-icon path {
        fill: $white;
    }
    &__podcast-likes:focus &__podcast-text {
        color: $white;
    }

    &__podcast-likes:active {
        background-color: transparent;
    }
    &__podcast-likes:active &__podcast-likes-icon path {
        fill: $primary-dark;
        fill-rule: nonzero;
    }
    &__podcast-likes:active &__podcast-text {
        color: $primary-dark;
    }



    &__podcast-shares:hover &__podcast-shares-icon path {
        fill: $primary;
    }
    &__podcast-shares:hover &__podcast-text {
        color: $primary;
    }

    &__podcast-shares:focus {
        background-color: $primary-light;
    }
    &__podcast-shares:focus &__podcast-shares-icon path {
        fill: $white;
    }
    &__podcast-shares:focus &__podcast-text {
        color: $white;
    }

    &__podcast-shares:active {
        background-color: transparent;
    }
    &__podcast-shares:active &__podcast-likes-icon path {
        fill: $primary-dark;
        fill-rule: nonzero;
    }
    &__podcast-shares:active &__podcast-text {
        color: $primary-dark;
    }



    &__link {
        display: flex;
        align-items: center;
        justify-content: center;
        max-width: 250px;
        margin-left: auto;
        margin-right: auto;
        padding: 23px 54px;

        border: 2px solid $primary;
        border-radius: 40px;

        transition: background-color .3s ease-in-out,
                    border-color .3s ease-in-out;

        @media (max-width: 766px) {
            max-width: 170px;
            padding: 15px 28px;
        }
    }

    &__link-text {
        margin: 0;
        color: $primary;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        transition: color .3s ease-in-out;

        @media (max-width: 766px) {
            font-weight: 400;
            font-size: 16px;
            line-height: 16px;
        }

    }

    &__link:hover {
        background-color: $primary;
    }

    &__link:hover &__link-text {
        color: $white
    }

    &__link:focus {
        background-color: $primary-light;
    }

    &__link:focus &__link-text {
        color: $white
    }    
    
    &__link:active {
        background-color: $primary-dark;
        border-color: $primary-dark;
    }

    &__link:active &__link-text {
        color: $white
    }

    &__link_hidden_big {
        display: none;

        @media (max-width: 766px) {
            display: flex;
        }

    }

    // &__link-text {
    //     margin: 0;
    // }
}