@font-face {
    font-family: 'Muller';
    src: url('../fonts/mullerbold-webfont.woff2') format('woff2'),
         url('../fonts/mullerbold-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/mullermedium-webfont.woff2') format('woff2'),
         url('../fonts/mullermedium-webfont.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/mullerregular-webfont.woff2') format('woff2'),
         url('../fonts/mullerregular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/mullerregularitalic-webfont.woff2') format('woff2'),
         url('../fonts/mullerregularitalic-webfont.woff') format('woff');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/mullerthinitalic-webfont.woff2') format('woff2'),
         url('../fonts/mullerthinitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Muller';
    src: url('../fonts/mullerlightitalic-webfont.woff2') format('woff2'),
         url('../fonts/mullerlightitalic-webfont.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/opensans-regular-webfont.woff2') format('woff2'),
         url('../fonts/opensans-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}