.header {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;

    &__nav-top {
        display: flex;
        align-items: center;
        padding: 20px 0;
        border-bottom: 1px solid $light-color;

        @media (max-width: 1350px) {
            position: relative;
            flex-direction: row;
            flex-wrap: wrap;
            padding: 0;
        }
    }

    &__nav-top::after {
        display: none;

        content: '';


        @media (max-width: 1350px) {
            display: inline-flex;
            position: absolute;
            width: 100%;
            height: 60px;
            top: 0;
            left: 0;
            background-color: $light-color;
        }

        @media (max-width: 766px) {
            height: 54px;
        }
    }

    &__nav-top-content {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        width: 100%;


        @media (max-width: 1350px) {        
            flex-wrap: wrap;
        }

        @media (max-width: 766px) {        
            justify-content: space-between;
            // padding: 13px;
        }
    }



    &__logo {
        margin-right: auto;

        @media (max-width: 1350px) {
            margin: 23px 0 23px 0;
            width: 100%;
            z-index: 3;
        }

        @media (max-width: 1020px) {
            // order: -2;
            margin-right: auto;
            width: 100%;
            // margin-left: 14.8%;
        }

        @media (max-width: 766px) {
            order: -2;
            width: 50%;
            // margin-left: 14.8%;
        }
    }

    &__logo_for-player {
        @media (max-width: 1020px) {
            order: -2;
            width: 20%;
            display: inline-flex;
            margin-right: auto;
        }

    }

    &__hr {
        width: 100%;
        border: .5px solid $light-color;
        margin: 0;
        margin-top: 20px;
    }

    &__hr_top {
        display: none;
        width: 100%;
        border: none;
        margin: 0;
    }

    

    .logo-img {
        @media (max-width: 1350px) {
            width: 112px;
            margin-right: auto;
        }

        @media (max-width: 766px) {
            width: 87px;
        }
    }

    &__burger-button {
        display: none;

        @media (max-width: 1020px) {
            display: inline-flex;
            margin-right: auto;
        }


        @media (max-width: 766px) {
            width: 50%;
            margin: 13px 0;

        }
    }

    &__burger-icon g rect {
        transition: opacity .3s ease-in-out, transform .3s ease-in-out;
    }

    &__burger-icon g rect:nth-child(1) {
        transform-origin: -6% 28%;
    }

    &__burger-icon g rect:nth-child(2) {
        transform-origin: 0% 73%;
    }

    &__burger-button_active > &__burger-icon g rect:nth-child(3) {
        opacity: 0;
    }

    &__burger-button_active > &__burger-icon g rect:nth-child(1) {
        transform: rotate(45deg);
    }

    &__burger-button_active > &__burger-icon g rect:nth-child(2) {
        transform: rotate(-45deg);
    }

    &__nav-list-top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        // justify-content: space-between;
        max-width: 57%;
        margin-right: 80px;
        width: 100%;
        padding: 0;
        font-family: 'Muller', sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 20px;

        @media (max-width: 1350px) {
            max-width: 77%;
            margin-right: 34px;
        }

        @media (max-width: 1020px) {
            display: none;
            // visibility: hidden;
            // grid-template-columns: repeat(2, auto);
            // justify-content: start;
            // gap: 64px 48px;
            // width: 100%;
            // line-height: 0;
            // overflow: hidden;
            // height: 0px;
            // order: 2;
            // margin-left: 0;
            // position: absolute;
            // top: 60px;
            // z-index: 2;
            // padding: 106px 14.8%;
            // transform: translateY(-500px);
            // transition: all 5s ease-in-out;
            // background: $shade-gray no-repeat right 114px center / 256px 501px;
            // background-image: url("../img/header__bg.svg");
        }

        @media (max-width: 766px) {
            // display: grid;
            // flex-direction: column;
            // flex-wrap: wrap;
            // align-items: flex-start;
            // justify-content: space-evenly;
            // top: 54px;
            // gap: 40px 0;
            // min-height: 225px;
            // max-height: 225px;
            // height: 100%;
            // padding: 61px 32px 24px;
            // background-image: none;
        }
    }

    &__nav-list-top_visible {
        @media (max-width: 1020px) {
            // display: grid;
            // visibility: visible;
            // transform: translateY(0);
            // line-height: 20px;
            // overflow: auto;
            // min-height: 400px;
            // height: auto;
            // opacity: 1;
        }
    }

    &__nav-item {
        overflow-wrap: anywhere;
    }


    &__nav-item:not(:last-child) {
        margin-right: 57px;
    }


    &__nav-link {
        @media (max-width: 766px) {
            overflow-wrap: anywhere;
        }
    }

    &__search-form {
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-right: 24px;

        @media (max-width: 1350px) {
            // margin-left: auto;
            // margin-right: auto;
        }

        @media (max-width: 1020px) {
            margin-left: 0;
            margin-right: 3.7%;
        }

        @media (max-width: 766px) {
            justify-content: end;
            
            width: 50%;
            margin-left: 0;
            margin-right: 0;
        }
    }

    &__search-input {
        position: absolute;
        top: 0;
        right: 50px;
        display: none;
        width: 0;
        height: 24px;
        // bottom: none;
        border: 0px solid transparent;
        border-bottom: 1px solid $primary;
        padding-top: 5px;
        padding-bottom: 3px;
        transition-property: width, transform, opacity;
        transition-duration: .3s;
        transition-delay: .1s;
        transition-timing-function: ease-in-out;
    }

    &__search-input::placeholder {
        color: $text-gray;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
    }

    &__search-input_hidden {
        opacity: 0;
        width: 0;
    }

    &__search-input_visible {
        opacity: 1;
        width: 278px;
    }



    &__search-button {

        @media (max-width: 766px) {
            margin-right: 0;
        }
    }

    &__button {
        display: inline-flex;
        max-width: 105px;
        width: 100%;
        padding: 10px 31px;
        border: 2px solid $project-black;
        border-radius: 77px;


        @media (max-width: 1350px) {
            margin: 20px 0;
        }

        @media (max-width: 1020px) {
            // margin-right: 14.8%;
        }

        @media (max-width: 766px) {
            z-index: 3;
            order: -1;
            margin: 9px 0 10px;
            max-width: 91px;
            padding: 7.5px 22px;
        }
    }

    &__button-text {
        overflow-wrap: anywhere;
        display: inline-block;
        margin: 0;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
    }


    &__hr_middle {
        @media (max-width: 1350px) {
            margin: 0;
            margin-bottom: 10px;
        }
    }
    

    &__nav-bottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        border-bottom: 1px solid $light-color;
        transition: background-color .3s ease-in-out;

        @media (max-width: 1350px) {
            padding: 10px 0;
        }

        @media (max-width: 766px) {
            padding: 15px 0;
        }

    }

    &__nav-bottom_gray {
        background-color: rgba(230, 232, 236, 0.4);
    }


    &__nav-bottom-content {
        display: flex;
        align-items: center;
        flex-direction: row;
        flex-wrap: nowrap;
        // gap: 0 52px;
        width: 100%;

        @media (max-width: 1350px) {
            gap: 0 0;
            justify-content: space-between;
        }

        @media (max-width: 766px) {
            justify-content: center;
        }
    }


    &__nav-list-bottom {
        display: flex;
        flex-direction: row;
        align-items: center;
        // justify-content: space-between;
        flex-wrap: wrap;
        // gap: 0 52px;
        margin-right: 52px;
        max-width: 56%;
        width: 100%;
        padding: 0;
        font-family: 'Muller', sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 16px;

        @media (max-width: 1350px) {
            margin-right: 34px;
            max-width: none;
        }

        @media (max-width: 1020px) {
            margin-right: 28px;
        }

        @media (max-width: 766px) {
            display: none;
            position: relative;
        }

    }

    &__nav-list-bottom_visible {
        @media (max-width: 766px) {
        }
    }

    &__nav-list-bottom &__nav-item:not(:last-child) {
        margin-right: 52px;

        @media (max-width: 1350px) {
            margin-right: 27px;
        }
    }

    


    &__links-link {
        display: none;
        transition: all .3s ease-in-out;

        @media (max-width: 766px) {
            display: inline-flex;
            flex-direction: row;
            align-items: center;
        }
    }


    &__links-link-icon {
        margin-right: 5px;
        transition: transform .3s ease-in-out;
    }

    &__links-link_open &__links-link-icon {
        transform: rotate(45deg);
    }

    &__links-link-text {
        margin: 0;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 16px;
        color: $primary;
    }


    &__links-mock {
        display: none;

        @media (max-width: 1020px) {
            display: inline-flex;
            // margin-right: 14.8%;
            margin-left: auto;
        }

        @media (max-width: 766px) {
            display: none;
        }
    }

    &__links-list {
        display: flex;
        flex-direction: row;
        align-items: center;
        max-width: 31.4%;
        margin-right: 52px;
        width: 100%;

        @media (max-width: 1350px) {
            margin-right: 0;
            max-width: none;
            width: auto;
        }

        @media (max-width: 1020px) {
            margin-right: 14.8%;
            width: 45.5%;
            display: none;
            visibility: hidden;
        }

        @media (max-width: 766px) {
            display: inline-flex;
            margin-right: 0;

            position: absolute;
            top: unset;
            right: unset;
            left: unset;
        }
    }

    &__links-list_visible {
        @media (max-width: 1020px) {
            visibility: visible;
            margin-left: 0;
            order: -1;
            z-index: 2;
            display: inline-flex;
            margin-top: auto;
            margin-bottom: auto;
        }

        @media (max-width: 766px) {
            top: unset;
            left: unset;
            bottom: -65px;
            z-index: 4;
            visibility: visible;
            display: inline-flex;
            margin: 0;
            width: 100%;
            padding-left: 10%;
            padding-right: 10%;
            background: white;
        }
    }

    &__links-item {
        width: 50%;
        border-left: 1px solid $light-color;

        @media (max-width: 1020px) {
            border-left: 1px solid $shade-gray;
        }

        @media (max-width: 766px) {
            border-left: none;
            border-right: 1px solid $shade-gray;
        }

    }

    &__links-item:last-of-type {
        border-right: 1px solid $light-color;

        @media (max-width: 1020px) {
            border-right: 1px solid $shade-gray;
        }

        @media (max-width: 766px) {
            border-right: none;
        }
    }


    &__button_bottom {
        display: flex;
        align-items: center;
        // width: 175px;
        // max-width: 175px;
        // width: 100%;
        padding: 0 0 0 9px;

        @media (max-width: 1350px) {
            width: 150px;
        }

        @media (max-width: 1020px) {
            // border-left: 1px solid $shade-gray;
        }

        @media (max-width: 766px) {
            flex-direction: column;
            align-items: flex-start;
            width: 118px;
            border-left: none;
        }
    }


    &__links-item:last-of-type &__button_bottom {
        @media (max-width: 766px) {
            padding-left: 35px;
        }
    }



    &__play {
        height: 20px;
        width: 20px;
        margin-right: 9px;
        margin-left: 1px;
        background: transparent no-repeat center center / cover;
        background-image: url("../img/header-bottom__play.svg");

        @media (max-width: 766px) {
            margin-right: 0;
            margin-bottom: 8px;
        }
    }

    &__info-time,
    &__info-name {
        overflow-wrap: anywhere;
        margin: 0;
        max-width: 121px;

        @media (max-width: 1350px) {
            max-width: 97px;
            width: 100%;
        }
    }

    &__info-time {
        margin-bottom: 5px;
        color: $text-gray;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;

        @media (max-width: 766px) {
            margin-bottom: 3px;
            font-size: 10px;
            line-height: 10px;
        }
    }

    &__info-name {
        margin-bottom: 5px;
        color: $project-black;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;

        @media (max-width: 766px) {
            font-size: 14px;
            line-height: 14px;
        }
    }

    &__pa {
        display: flex;
        align-items: center;
        justify-content: center;
        // margin-right: 21%;
        width: 46px;
        height: 58px;
        background: $light-color;

        @media (max-width: 1350px) {
            display: none;
        }
    }

    &__pa-circle {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background: $white;
    }

    &__pa-text {
        margin: 0;
        font-weight: 400;
        font-size: 12px;
        line-height: 16px;
        color: $text-gray;
    }

    &__hr_bottom {
        margin-top: 0;

        @media (max-width: 1350px) {
            margin-top: 10px;
        }
    }

    &__menu {
        overflow: scroll;
        position: fixed;
        z-index: 5;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        transition: transform .3s ease-in-out;
        transform: translateY(-100vh);
        background: $shade-gray no-repeat right top -50px / 255px 500px;
        background-image: url("../img/header-menu__bg.svg");
        display: none;

        @media (max-width: 1020px) {
            display: inline-flex;
        }


        @media (max-width: 766px) {
            background-image: none;
            background-color: transparent;
        }
    }

    &__menu_visible {
        transform: translateY(0);

    }

    &__menu-nav {
        padding-top: 28px;
        padding-bottom: 54px;
        
        @media (max-width: 766px) {
            background-color: $shade-gray;
            padding-top: 13px;
            padding-bottom: 24px;
        }
    }

    &__menu-close-button svg {

    }

    &__menu-top {

        @media (max-width: 766px) {
            background-color: $shade-gray;
        }
    }

    &__menu-top-list {
        display: grid;
        grid-template-columns: repeat(2, auto);
        gap: 64px 48px;
        justify-content: flex-start;

        @media (max-width: 766px) {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            justify-items: flex-start;
            gap: 40px 48px;
            margin-bottom: 24px;
            max-height: 140px;
        }
    }

    &__menu-top-list * {
        font-size: 20px;
        line-height: 20px;
    }

    &__menu-top-item:nth-child(1) {
        order: 1;
    }
    &__menu-top-item:nth-child(4) {
        order: 2;
    }
    &__menu-top-item:nth-child(2) {
        order: 3;
    }
    &__menu-top-item:nth-child(5) {
        order: 4;
    }
    &__menu-top-item:nth-child(3) {
        order: 5;
    }

    &__menu-bottom {
        display: none;

        @media (max-width: 766px) {
            display: inline-flex;
            background-color: $white;
            height: 100%;
            padding-top: 30px;
        }
    }

    &__menu-bottom * {
        font-size: 16px;
        line-height: 16px;
    }

    &__menu-bottom-list {

        @media (max-width: 766px) {
            display: grid;
            gap: 30px 75px;
            grid-template-columns: repeat(2, auto);
        }

    }

}
