.overlay {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(18, 23, 35, 0.5);
    z-index: 100;
    transition: transform .3s ease-in-out;
    transform: translateY(-200vh);
}

.overlay_shown {
    transform: translateY(0);
}

.modal * {
    font-family: 'Muller', 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

.modal {
    position: relative;
    min-height: 655px;
    max-width: 824px;
    width: 100%;
    padding: 60px;
    background-color: $project-black;


    @media (max-width: 1020px) { 
        max-width: 540px;
        padding: 60px 40px;
    }

    @media (max-width: 766px) { 
        max-width: 80%;
        min-height: 442px;
        padding: 40px 20px;
    }

    &__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 42px;
        height: 42px;

        @media (max-width: 766px) { 
            top: 20px;
            right: 20px;
            width: 28px;
            height: 28px;
        }

        @media (max-width: 766px) { 
            top: 14px;
            right: 20px;
            width: 28px;
            height: 28px;
        }
    }

    &__close circle, 
    &__close path {
        transition: stroke .3s ease-in-out;
    }

    &__close:hover circle, 
    &__close:hover path {
        stroke: $primary;
    }

    &__close:focus circle, 
    &__close:focus path {
        stroke: $primary-light;
    }

    &__close:active circle, 
    &__close:active path {
        stroke: $primary-dark;
    }


    &__header {
        margin-bottom: 17px;
        font-weight: 400;
        font-size: 48px;
        line-height: 48px;
        color: $white;

        @media (max-width: 766px) { 
            margin-bottom: 8px;
            font-size: 24px;
            line-height: 24px;
        }
    }

    &__disclaimer {

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 30px;
        width: 100%;

        @media (max-width: 766px) { 
            display: flex;
            flex-direction: column;
            margin-bottom: 28px;
        }
    }

    &__disclaimer-text {
        display: inline;
        margin-right: 3px;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        color: $white;

        @media (max-width: 766px) { 
            font-size: 12px;
            line-height: 24px;
        }
    }

    &__disclaimer-link {
        display: inline;
        cursor: pointer;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        color: $primary;
        text-underline-offset: 4px;
        text-decoration: underline solid transparent;
        transition: color .3s ease-in-out,
                    text-decoration-color .3s ease-in-out,
                    background-color .3s ease-in-out;

        @media (max-width: 766px) { 
            font-size: 12px;
            line-height: 4px;
        }
    }

    &__disclaimer-link:hover {
        text-decoration-color: $primary;
    }

    &__disclaimer-link:focus {
        outline: none;
        text-decoration-color: transparent;
        background-color: $primary-light;
        color: $white;
    }

    &__disclaimer-link:active {
        outline: none;
        text-decoration-color: $primary-dark;
        background-color: transparent;
        color: $primary-dark;
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;

        @media (max-width: 766px) { 
            gap: 20px;
            margin-bottom: 28px;
        }
    }


    &__form-fieldset {
        position: relative;
        margin: 0;
        max-width: none;
        width: 100%;
        padding: 0;
        border: none;
    }

    &__form-login-input, &__form-password-input {
        max-width: 526px;
        width: 100%;
        height: 70px;
        padding: 25px 32px;
        border: 1px solid $white;
        border-radius: 40px;
        background-color: transparent;
        color: $white;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;

        @media (max-width: 1020px) {
            max-width: none;
        }

        @media (max-width: 766px) {
            height: 40px;
            padding: 12px 18px;
            font-size: 16px;
            line-height: 16px;
        }
    }

    & .just-validate-error-label {
        position: absolute;
        font-family: 'Muller';
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
        top: 10px;
        left: 34px;

        @media (max-width: 766px) {
            top: 2px;
            left: 17px;
        }
    }

    .input-error {
        border: 1px solid $red;
    }

    &__form-login-input::placeholder, &__form-password-input::placeholder {
        color: $text-gray;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;


        @media (max-width: 766px) {
            font-size: 16px;
            line-height: 16px;
        }
    }

    &__form-button {
        max-width: 167px;
        padding: 24.5px 53.5px;
        background: $primary;
        border: 1px solid $primary;
        border-radius: 40px;
        color: $white;
        font-family: 'Muller';
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 20px;
        transition: background-color .3s ease-in-out,
                    border-color .3s ease-in-out;

        @media (max-width: 766px) {
            // margin-bottom: 20px;
            max-width: 160px;
            padding: 11px 55.5px;
            font-size: 16px;
            line-height: 16px;
        }
    }

    &__form-button:hover {
        border-color: $primary-light;
        background-color: $primary-light;
    }
    &__form-button:focus {
        outline: none;
        border-color: $primary-dark;
        background-color: $primary-light;
    }
    &__form-button:active {
        outline: none;
        border-color: $primary-dark;
        background-color: $primary-dark;    
    }

    &__bottom {
        display: flex;
        flex-direction: column;
        gap: 30px;
        padding-top: 30px;
        border-top: 1px solid rgba(230, 232, 236, 0.4);

        @media (max-width: 766px) {
            padding-top: 10px;
            gap: 10px;
        }
    }

    &__bottom-text {
        font-weight: 400;
        font-size: 20px;
        line-height: 20px;
        color: $white;

        @media (max-width: 766px) {
            // margin-bottom: 20px;
            font-size: 12px;
            line-height: 24px;
            color: $text-gray;
        }
    }

    &__bottom-links-list {
        display: flex;
        flex-direction: row;
        gap: 40px;

        @media (max-width: 766px) {
            gap: 48px;
        }
    }



    
    &__bottom-link svg rect {
        transition: fill .3s ease-in-out;
    }

    &__bottom-link:hover svg rect {
        fill: $primary;
    }
    &__bottom-link:focus svg rect {
        fill: $primary-light;
    }
    &__bottom-link:active svg rect {
        fill: $primary-dark;
    }



    &__bottom-link_fb svg path {
        transition: fill .3s ease-in-out;
    }

    &__bottom-link_fb:hover svg path {
        fill: $primary;
    }
    &__bottom-link_fb:focus svg path {
        fill: $primary-light;
    }
    &__bottom-link_fb:active svg path {
        fill: $primary-dark;
    }


    &__form-text {
        transition: background-color .3s ease-in-out,
                    border-color .3s ease-in-out;
    }

    &__form-text:hover {
        outline: none;
        background-color: $light-black;
    }
    &__form-text:focus {
        outline: none;
        background-color: $light-black;
        border-color: $primary-light;
    }
    &__form-text:active {
        outline: none;
        background-color: transparent;
        border-color: $white;
    }
}

