.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
    width: 100%;

    @media (max-width: 1350px) {
        max-width: 824px;
        // max-width: 80.4%;
    }
    
    @media (max-width: 1020px) {      
        max-width: 540px;
        // max-width: 70.3%;
    }
    
    @media (max-width: 766px) {      
        max-width: 80%;
        // max-width: 70.3%;
    }

}

.hidden {
    display: none !important;
}

.no-scroll {
    overflow-y: hidden;
}

