$header-margin: 81px;

// Colors
$black: #000;
$white: #fff;
$project-black: #121723;
$light-color: #E6E8EC;
$text-gray: #A1A6B4;
$primary: #6D31EE;
$primary-light: #AA9DFA;
$bg-gray: #F2F2F2;
$shade-gray: #D2D5DD;